<div class=side_bar__header>
  <div class=side_bar__header--user_name>
    <a href="">Tom</a>
  </div>
  <div class=side_bar__header--button >
     <a href="">チャットを作成する</a>
  </div>
  <%# <input type="button"  onclick="" value="チャットを作成する" class=side_bar__header--button> %>
</div>
<div class=side_bar__rooms>
  <div class=side_bar__rooms--room>
    <div class=side_bar__rooms--room_name>
      <a href="">techroom1</a>
    </div>
  </div>
  <div class=side_bar__rooms--room>
    <div class=side_bar__rooms--room_name>
      <a href="">techroom2</a>
    </div>
  </div>
</div>
